{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block the_navbar %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'projects:index' %}">Projects</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
    </li>
    <li class="dropdown-divider"></li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
    <li class="dropdown-divider"></li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'edit-profile' user.id %}">Edit Profile</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'password_change' %}">Password Change</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'password_reset' %}">Password Reset</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Delete Account</a>
    </li>
{% endblock the_navbar %}

{% block content %}
    <h1>Profile: {{ user.username }}</h1>
{% endblock content %}